In [4]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [5]:
df = pd.read_csv('aprender2018.csv',sep=';')

C:\Users\Lucia Sammartino\.conda\envs\dhdsblend\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (113) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.sample(5)

,ap1,ap2,ap3a,ap3b,ap3c,ap4,ap5a,ap5b,ap5c,ap5d,...,ponder,lpondera,ldesemp,lpuntaje,mpondera,mdesemp,mpuntaje,isocioa,isocioal,isocioam
154453,3,1,1,1,1,3,1,1,-9,1,...,"1,0514314","1,0794231",2,"433,79013","1,0515739",2,"454,12231",2,2,2
232068,3,2,1,1,1,8,1,2,-9,1,...,"1,0039129","1,0064166",3,"499,94806","1,0570092",3,"511,01062",1,1,1
365165,2,2,1,1,1,4,1,1,-9,1,...,"3,1642308","3,4787247",1,"377,40994","3,6379006",2,"412,32852",2,2,2
379677,3,2,1,1,1,4,1,1,2,1,...,"1,0084842","1,0460204",4,"577,97809","1,0021321",3,"484,30228",1,1,1
158420,2,1,1,1,1,3,2,2,1,1,...,"1,0758022","1,0764153",3,"509,40884","1,0766835",3,"502,92981",2,2,2

In [7]:
df.info

<bound method DataFrame.info of         ap1  ap2  ap3a  ap3b  ap3c  ap4  ap5a  ap5b  ap5c  ap5d  ...  \
0         4    2     1     1     1   10     2     2     1     2  ...
1         2    1     1     1     1    4     1     1    -9     1  ...
2         2    1     1     1     1    6     1     1    -9     1  ...
3         5    2     1     1     1    6     1     1     2     1  ...
4         4    2     1     1     1    5     1     1    -9     1  ...
...     ...  ...   ...   ...   ...  ...   ...   ...   ...   ...  ...
579505    3    2     1     1     1    5     1     1     2     1  ...
579506    3    2     1     1     1    8     1     2     1     1  ...
579507    3    2     1     1     1    6     1     2     2     1  ...
579508    3    2     1     1     1    6     1     2     2     1  ...
579509    3    2     1     1     1    5     1     2     2     1  ...

           ponder   lpondera  ldesemp   lpuntaje   mpondera  mdesemp  \
0       3,1642308  3,4787247        4  624,30237  3,6379006        3
1       3,1642308  3,4787247        3  541,39209  3,6379006        3
2       3,1642308  3,4787247        3  470,68723  3,6379006        3
3        2,203661   2,208158        2  434,76788  2,2108715        1
4        2,203661   2,208158        2  418,23492  2,2108715        1
...           ...        ...      ...        ...        ...      ...
579505  1,2030054   1,204447        3  536,84021  1,2678566        2
579506  1,2030054   1,204447        3  515,03595  1,2678566        2
579507  1,2030054   1,204447        4   565,8797  1,2678566        2
579508  1,2030054   1,204447        4  550,91693  1,2678566        3
579509  1,2030054   1,204447        4  578,63928  1,2678566        3

         mpuntaje  isocioa  isocioal  isocioam
0        497,9606       -1        -1        -1
1       511,72632        1         1         1
2       497,24191        2         2         2
3       364,33578        3         3         3
4       366,13287        2         2         2
...           ...      ...       ...       ...
579505  426,88309       -1        -1        -1
579506  422,74527        3         3         3
579507  423,95142        2         2         2
579508  469,24432        3         3         3
579509  474,17343        2         2         2

[579510 rows x 124 columns]>

In [8]:
df.shape[1]

124

In [9]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [10]:
pasos = [('scaler', StandardScaler()), ('reglog', LogisticRegression())]

In [11]:
df['mdesemp'].value_counts()

3    211584
2    124422
4    113519
1    102506
      27479
Name: mdesemp, dtype: int64

In [12]:
#27479 son nulos? #imputar nulos ?

In [13]:
 df['mdesemp'] = pd.to_numeric(df['mdesemp'],errors='coerce')

In [14]:
df['mdesemp_bin']=df['mdesemp'].apply(lambda x: 1 if x>=2 else 0)
df['mdesemp_bin'].value_counts(normalize=True)

# mdesemp_bin es binario Aprobado 1 (>=3), desaprobado 0 . !!falta imputar nulos.

1    0.775698
0    0.224302
Name: mdesemp_bin, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split

# Separamos las variables independientes de la target
X=df.drop(columns=['mdesemp','mdesemp_bin'])
y=df['mdesemp_bin']

# Dividimos los datos en el set de train y el de test: 
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3, random_state=30, stratify=y)
display(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(405657, 123)

(173853, 123)

(405657,)

(173853,)